
nav {
    margin-left: 25px;
    margin-top:25px;
}
nav input{
    height: 30px;
    width: 220px;
}
nav button {
    height: 30px;
    width: 90px; 
}

section {
    margin-left: 95px;
    margin-top:55px;
}
